body {
    margin: 0;
}

img {
    width: 100%;
}

header {
    border: solid;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    border: solid;
    flex-grow: 1;
    flex-basis: 400px;
    margin: 5px;

}

.boxShadow {
     box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.75);
}

footer {
    border: solid;
    text-align: center;
}
